@charset "UTF-8";

@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter-Semibold;
    src: url(fonts/Inter-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(14, 14, 14);
    font: normal normal 1em "Inter-Regular", sans-serif;
    color: white;
    overflow: hidden; /*remove a barra de rolagem */
}

.container {
    justify-content: center; /* alinha os itens horizontalmente */
    display: flex;
    align-items: center; /* alinha os itens verticalmente */
    margin: 0; /* remove os padrões de margem do corpo */
}

img#foto {
    border-radius: 50%;
    size: 25px;
    max-width: 100px;
    margin-top: -15px;
}

main {
    background-color: rgb(37, 37, 37);
    width: 400px;
    height: 610px;
    margin: auto;
    border-radius: 15px;
    /* tamanho da sombra para X, Y, ESPALHAMENTO e COR */
    margin-top: 115px;
}

.nome {
    font-family: 'Inter-Semibold', sans-serif;
    color: #EAE5A4;
    font-size: 29px;
    text-align: center;
}

.subtitulo {
    color: #BAA4EB;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.frase {
    text-align: center;
    margin-bottom: 50px;
}

.github {
    background-color: rgba(0, 0, 0, 0.329);
    height: 55px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 0.2px;
    margin-top: -47px;
    margin-bottom: 10px; /* adiciona uma margem para que as <div> fiquem afastadas */
    transition: background-color 0.2s ease; /* retarda a transição de cor do hover estabelecido em 3 milissegundos */
}

.github:hover {
    background-color: black; /* hover que muda a cor do botão para preto ao passar o mouse sobre ele */
}

.frontendmentor {
    background-color: rgba(0, 0, 0, 0.329);
    height: 55px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 0.2px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.frontendmentor:hover {
    background-color: black;
}

.linkedin {
    background-color: rgba(0, 0, 0, 0.329);
    height: 55px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 0.2px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.linkedin:hover {
    background-color: black
}

.twitter {
    background-color: rgba(0, 0, 0, 0.329);
    height: 55px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 0.2px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.twitter:hover {
    background-color: black
}

.instagram {
    background-color: rgba(0, 0, 0, 0.329);
    height: 55px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding: 0.2px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.instagram:hover {
    background-color: black
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #EAE5A4;
}

a:hover {
    color: #ABA991;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
    }
}